.categoryMenu {
  background-color: var(--color-theme-main);
  width: 100%;

  & ul {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    gap: 1rem;

    & li a {
      color: var(--color-white);

      &:global(.active) {
        text-decoration: underline;
      }
    }
  }
}
